.header{
display: flex;
justify-content: center;
height: 180px;
background-image: url("https://images.pexels.com/photos/357743/pexels-photo-357743.jpeg");
background-size: 30rem 11rem;
width: 100%;
}


.homeLink{
  text-decoration: none;
  font-size: 3rem;
  color: white;
  font-weight:bold;

}

.navBar{
  font-size: 1.4em;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: right;
}

.navButton{
  padding: 4px;
  text-decoration: none;
}

.navButton:visited {
  color:black;
}

.navButton:hover{
  color:coral;
  font-size: 1.07em;
}

.search{
  font-size: large;
  width: 120px;
}

/* styling for adding a recipe component */
.form{
  justify-content: center;
  margin: 0 auto;
  width: 350px;
  height: 500px;
}

.label{
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  
  font-size: large;
}