
.header{
  display: flex;
  justify-content: center;
}

.navBar{
  font-size: 1.4em;
  height: 40px;
  padding: 5px;
  display: flex;
  justify-content: right;
}

.navButton{
  padding: 4px;
  text-decoration: none;
}

.navButton:visited {
  color:blueviolet;
}

.navButton:hover{
  color: black;
  font-size: 1.07em;
}
